.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main{
  height: 100vh;
  background-color: #fff;
  background-image: linear-gradient( rgba(0, 0, 0, 0.397), rgba(0, 0, 0, 0.973) ), url(image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}
.form-container{
  position: relative;
  top: 12em;
  

}
.form{
  padding-right: 2em;
  height: 23em;
  background: rgba(36, 36, 36, 0.164);
  border-radius: 1.2em;
  box-shadow: 2px 2px 47px 1px rgba(0,0,0,0.74);
-webkit-box-shadow: 2px 2px 47px 1px rgba(0,0,0,0.74);
-moz-box-shadow: 2px 2px 47px 1px rgba(0,0,0,0.74);
}
.myForm {
  height: 29em;
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 0.3fr 1fr 0.3fr 0.2fr; 
  gap: 1em 0px; 
  grid-template-areas: 
    "part-1"
    "part-2"
    "part-3"
    "."; 
    color: #fff;
}
.part-1 { grid-area: part-1; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.part-2 { grid-area: part-2; }
.part-3 { grid-area: part-3; }
.form:hover{
  transition: transform 0.5s;
  transform: scale(1.06);
}


